body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main__container {
  margin: 30px;
}

.mushrooms__container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin: auto;
}

.mushroom__item__container {
  padding: 5px;
}

.twin__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}